.App {
  text-align: left;
}

Header {
  position: relative;
  display: block;
  width: 100%;
  height: 100px;
  background-color: black;
  .logo {
    position: relative;
    color: red;
    text-align: left;
    top: 50%;
    margin-top: -50px;
    font-size: 30px;;
    max-width: 100%;
    max-height: 98%;
    z-index:100;
  }

  .spinLogo {
    animation-name: spin;
    animation-duration: 1000ms;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
  }
}

@keyframes spin {
  from {
    transform: rotate(0deg) scaleX(2);
  }
  to {
    transform: rotate(360deg);
  }
}

Header nav {
  position: absolute;
  top: 50%;
  right: 15px;
  text-align: right;
  list-style-type: none;
  transform: translateY(-50%);
}

Header nav ul li {
  list-style-type: none;
  padding: 10px;
  display: inline-block;
  a {
    color: white;
    cursor: pointer;
    line-height: normal;
    text-decoration: none;
  }
}

html {

}

.bodySjurSide{
  position:absolute;
  height:100%;
  width:100%;
  background-image: url("lib/backgroundSwag.jpg");
  background-repeat:repeat-y;
  background-position-x: center;
  background-position-y: bottom;
  z-index:-1;
  .ssWrap {
    h3 {
      color:rebeccapurple;
      font-size: 100px;
      text-align:center;
    }
  }
}

.homepage {
  position:absolute;
  height:100%;
  width:100%;
  background-position-x:center;
  background-position-y:top;
  background-image: url("lib/backgroundSjurChingChong.png");
}

.laserButton {
  position: absolute;
  left: 50%;
  top: 45%;
  margin-left: -125px;
  width: 250px;
  height: 100px;
  padding: 10px;
  border-radius: 50px;
  background-color: red;
  color: lightgreen;
  font-size: 25px;
  border: 3px solid lightgreen;
  font-weight: bold;
  cursor: pointer;
  outline: 0;
}

.Wrap {
  position: absolute;
  top: -103px;
  width: 100%;
  height: 100%;
  overflow: hidden;
  pointer-events: none;
}

.Wrap2 {
  position: relative;
  height: 100%;
  h1 {
    font-size: 10px;
  }
}

.blankButton {
  color: white;
  background-color: black;
  font-size: 16px;
  border: black;
  font-family: Arial, Helvetica, sans-serif;
  height: 40px;
  text-decoration: none;
  cursor: pointer;
}
.bodyTakkTil{
  position:absolute;
  background-image:linear-gradient(#ffb3cc, #ffaa80);
  width:100%;
  height:auto;
  display:flex;
  flex-wrap:wrap;
}

.personCard{
  position:relative;
  max-width: 28%;
  min-width:100px;
  max-height:450px;
  margin:20px;
  text-align:center;
  .avatar{
    background-color:lightcoral;
  }
  .cardMedia {

    img {
      margin-top: 0;
      object-fit: contain;
      height:auto;
      max-height:200px;
      width:90%;
    }
  }
  p{
    text-align:left;
  }
  .cardActions{
    bottom:0;
  }
}

.bodyPartey {
  position:absolute;
  height:100%;
  width:100%;
  background-position-x:center;
  background-position-y:top;
  background-image: url("lib/backgroundPartey.jpg");
}


.parteyWrap{
  overflow:hidden;
  pointer-events: none;
  position:absolute;
  width: 100%;
  height: 100%;
  top:-100px;
  .laser-beam{
    visibility: visible;
  }
}
.leftLaserWrap{
  overflow:hidden;
  pointer-events: none;
  position:absolute;
  width: 100%;
  height: 100%;

  .laser-beam{
    visibility: visible;
    left:-3px;
    bottom:-252%;
    height: 500%;
    -webkit-animation: laserCorner 7s infinite;
    &.red {
      -webkit-animation: laserCorner 7.2s infinite;
      background: rgba(236, 204, 0, 0.6);
      -webkit-box-shadow: 0px 0px 15px 0px rgba(236, 204, 0, 1);
      -moz-box-shadow: 0px 0px 15px 0px rgba(236, 204, 0, 1);
      box-shadow: 0px 0px 15px 0px rgba(236, 204, 0, 1);
    }

    &.purple {
      -webkit-animation: laserCorner 7.3s infinite;
      background: rgba(100, 102, 255, 0.6);
      -webkit-box-shadow: 0px 0px 15px 0px rgba(100, 102, 255, 1);
      -moz-box-shadow: 0px 0px 15px 0px rgba(100, 102, 255, 1);
      box-shadow: 0px 0px 15px 0px rgba(100, 102, 255, 1);
    }

    &.green {
      -webkit-animation: laserCorner 7.5s infinite;
      background: rgba(100, 200, 69, 0.6);
      -webkit-box-shadow: 0px 0px 15px 0px rgba(100, 200, 69, 1);
      -moz-box-shadow: 0px 0px 15px 0px rgba(100, 200, 69, 1);
      box-shadow: 0px 0px 15px 0px rgba(100, 200, 69, 1);
    }
  }
}
.rightLaserWrap{
  position:absolute;
  overflow:hidden;
  pointer-events: none;
  width: 100%;
  height: 100%;

  .laser-beam{
    visibility: visible;
    left:100%;
    bottom:-253%;
    height: 500%;
    -webkit-animation: laserCorner2 7.2s infinite;
    background: rgba(99, 195, 231, 0.9);
    &.red {
      -webkit-animation: laserCorner2 7s infinite;
      background: #ffb3ccCC;
      -webkit-box-shadow: 0px 0px 15px 0px #ff6699;
      -moz-box-shadow: 0px 0px 15px 0px #ff6699;
      box-shadow: 0px 0px 15px 0px #ff6699;
    }

    &.purple {
      -webkit-animation: laserCorner2 7.5s infinite;
      background: #ff5c33CC;
      -webkit-box-shadow: 0px 0px 15px 0px #ff5c33;
      -moz-box-shadow: 0px 0px 15px 0px #ff5c33;
      box-shadow: 0px 0px 15px 0px #ff5c33;
    }

    &.green {
      -webkit-animation: laserCorner2 7.3s infinite;
      background: #00ff80CC;
      -webkit-box-shadow: 0px 0px 15px 0px #00ff80;
      -moz-box-shadow: 0px 0px 15px 0px #00ff80;
      box-shadow: 0px 0px 15px 0px #00ff80;
    }
  }
}
//Lasers
.laser-beam {
  z-index:1;
  visibility: hidden;
  position: absolute;
  left: 50%;
  margin-bottom: 3px;
  bottom: -50%;
  width: 4px;
  height: 300%;
  background: rgba(99, 195, 231, 0.6);
  -webkit-box-shadow: 0px 0px 15px 0px rgba(99, 195, 231, 1);
  -moz-box-shadow: 0px 0px 15px 0px rgba(99, 195, 231, 1);
  box-shadow: 0px 0px 15px 0px rgba(99, 195, 231, 1);
  transform-origin: (0, 100%);
  -webkit-animation: laser 7s infinite;


  &.red {
    -webkit-animation: laser 7.5s infinite;
    background: rgba(236, 19, 65, 0.6);
    -webkit-box-shadow: 0px 0px 15px 0px rgba(236, 19, 65, 1);
    -moz-box-shadow: 0px 0px 15px 0px rgba(236, 19, 65, 1);
    box-shadow: 0px 0px 15px 0px rgba(236, 19, 65, 1);
  }

  &.purple {
    -webkit-animation: laser 7.3s infinite;
    background: rgba(204, 102, 255, 0.6);
    -webkit-box-shadow: 0px 0px 15px 0px rgba(204, 102, 255, 1);
    -moz-box-shadow: 0px 0px 15px 0px rgba(204, 102, 255, 1);
    box-shadow: 0px 0px 15px 0px rgba(204, 102, 255, 1);
  }

  &.green {
    -webkit-animation: laser 7.7s infinite;
    background: rgba(86, 212, 69, 0.6);
    -webkit-box-shadow: 0px 0px 15px 0px rgba(86, 212, 69, 1);
    -moz-box-shadow: 0px 0px 15px 0px rgba(86, 212, 69, 1);
    box-shadow: 0px 0px 15px 0px rgba(86, 212, 69, 1);
  }
}
@keyframes laser {
  0% {
    transform: rotateZ(-75deg);
  }
  50% {
    transform: rotateZ(75deg);
  }
  100% {
    transform: rotateZ(-75deg);
  }
}
@keyframes laserCorner {
  0% {
    transform: rotateZ(5deg);
  }
  50% {
    transform: rotateZ(85deg);
  }
  100% {
    transform: rotateZ(5deg);
  }
}
@keyframes laserCorner2 {
  0% {
    transform: rotateZ(-5deg);
  }
  50% {
    transform: rotateZ(-85deg);
  }
  100% {
    transform: rotateZ(-5deg);
  }
}


.snakeDiv {
  background-image:linear-gradient(#ffb3cc, #ffaa80);
  height: calc(100vh - 100px);
  display: flex;
  .gameBorder {
    position:relative;
    background-color:pink;
    border-style: solid;
    border-color: rebeccapurple;
    border-width: 10px;
    height: 15*34px;
    width: 15*34px;
    margin:auto;
    .snakePlayer{
      position: absolute;
      background-color: greenyellow;
      border-color:grey;
      border-width:1px;

    }
  }
}
